{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
    <h1>Liste des villes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>CodePostal</th>
                <th>Departement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.CodePostal }}</td>
                <td>{{ ville.Departement }}</td>
                <td>
                    <a href="{{ path('villes_show', {'id': ville.id}) }}">show</a>
                    <a href="{{ path('villes_edit', {'id': ville.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('villes_new') }}">Ajouter</a>
{% endblock %}
